html {
  font-family: Helvetica, sans-serif;
  color: $black;
  font-size: $base-font-size;
}

#root {
  padding: 20px 15px;

  @include tablet-landscape {
    padding: 30px;
  }
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
  @include tablet-landscape {
    max-width: 1300px;
  }
}

.page-section {
  margin-bottom: 25px;
  
  &.existing-cards {
    overflow-x: scroll;
  }

  @include tablet-landscape {
    margin-bottom: 50px;
  }
}