.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  color: $white;
  border-radius: 5px;
  max-width: 300px;
  line-height: 20px;
  transition: opacity 3s ease-in;
  opacity: 0;

  &.visible {
      opacity: 1;
  }

  &.success {
    background: $notification-success;
  }

  &.error {
    background: $notification-error;
  }
}