.form-button {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid $button-primary;
  background: $button-primary;
  color: $white;
  width: 100px;
  height: 38px;
  font-size: $base-font-size;
  margin-bottom: 20px;

  &:hover {
    background: $button-primary-hover;
    border-color: $button-primary-hover;
    cursor: pointer;
  }

  &:disabled {
    background: $button-primary-disabled;
    border-color: $button-primary-disabled;
  }
}