.message {
  padding: 12px;
  color: $black;
  display: inline-block;

  &.success {
    background: $message-success;
    color: $white;
  }

  &.warning {
    background: $message-warning;
  }

  &.error {
    background: $message-error;
    color: $white;
  }
}