$white: #ffffff;
$black: #000000;
$button-primary: #2991cc;
$button-primary-hover: #145d8e;
$button-primary-disabled: #d1cbcb;
$input-border: #d1cbcb;
$form-error: #ff4d56;
$table-heading-background: #ebebeb;
$table-border: #616161;
$table-row-background-even: #f1f1f1;
$table-row-background-hover: #f6b227;
$message-error: #ff4d56;
$message-success: #008638;;