.table {
  width: 100%;
  min-width: 500px;
  overflow-x: scroll;

  .table-row {
    background: $white;
    
    &:hover {
      background: $table-row-background-hover;
    }

    &:nth-child(even) {
      background: $table-row-background-even;

      &:hover {
        background: $table-row-background-hover;
      }
    }
  }
}